.form {
    outline: 1px solid;
    outline-color: aquamarine;
    padding: 0.5em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
}
