.button {
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
}

.primary {
    background-color: #007bff;
}
.primary:hover {
    background-color: #0062cc;
}

.secondary {
    background-color: #6c757d;
}

.secondary:hover {
    background-color: #5a6268;
}

.ternary {
    background-color: #ffc107;
}

.ternary:hover {
    background-color: #e0a800;
}
